$color-my-secondary: #ffffff;
$color-my-primary: #311852;
$color-my-terciary: #617eaf;
$color-my-bg-btn: #ffdfed;
$color-my-contrast: #ff7a1f;
$color-my-quaternary: #dae4e9;
$color-my-jolly: #fff9f5;
$text-color: rgb(27, 112, 240);
$my-dark-blue: #0f263d;
$my-blue-bar: #1b72e8;
$my-blue-badge: #165bba;